 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2> Sobre Nosotros </h2>
                    <br>
                    <!--<hr class="star-light"> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p ALIGN="justify"> {{ site.about.column1}} </p>
                </div>
                <div class="col-lg-4">
                    <p ALIGN="justify"> {{ site.about.column2}} </p>
                </div>
            </div>
        </div>
    </section>
