 <!-- jQuery Version 1.11.0 -->

 "{{ "/static/assets/app-20170906.min.css" | prepend: site.baseurl }}"

    <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
    {% if site.contact == "static" %}
    <script src="{{ "/js/contact_me_static.js" | prepend: site.baseurl }}"></script>
    {% else %}
     <script src="{{ "/js/contact_me.js" | prepend: site.baseurl }}"></script>
    {% endif %}

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/freelancer.js" | prepend: site.baseurl }}"></script>

    {% if site.contact == "disqus" %}
    <!-- Disqus Stuff -->
    {% include js_disqus.html %}
    {% endif %}
    <!-- Script para que funcione recaptcha -->
    -->
    
    <script src="https://www.google.com/recaptcha/api.js?render=6LfXIJMUAAAAAPqXse6r0iSv7buWEsxAAf9mh4tc"></script>
    <script>
    grecaptcha.ready(function() {
        grecaptcha.execute('6LfXIJMUAAAAAPqXse6r0iSv7buWEsxAAf9mh4tc', {action: 'homepage'}).then(function(token) {
          // pass the token to the backend script for verification
        });
    });
    </script>
    
    
    <!-- <script src='https://www.google.com/recaptcha/api.js'></script>
    