 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- <h1>{{ post.title }}</h1> -->
                            <!--<hr class="star-primary"> -->
                             <br>

                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p>{{ post.description }}</p>
                            <ul class="list-inline item-details">
                                {% if post.client.txt  %}
                                <li>Client:
                                    {% if post.client.href %}
                                    <strong><a href="{{ post.client.href }}">{{ post.client.txt }}</a>
                                    </strong>
                                    {% else %}
                                    <strong>{{ post.client.txt }}</strong>
                                    {% endif %}
                                </li>
                                {% endif %}
                                {% if post.project-date.txt and post.project-date.href %}
                                <li>Date:
                                    <strong><a href="{{ post.project-date.href }}">{{ post.project-date.txt }}</a>
                                    </strong>
                                </li>
                                {% endif %}
                                {% if post.category.txt  %}
                                <li>Category:
                                    {% if post.category.href %}
                                        <strong><a href="{{ post.category.href }}">{{ post.category.txt }}</a>
                                        </strong>
                                    {% else %}
                                        <strong>{{ post.category.txt }}</strong>
                                    {% endif %}
                                </li>
                                {% endif %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
