div.polaroid {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 25px;

    word-wrap: break-word;


    padding-left: 0px;
    padding-right: 0px;
    background-color: white;

}
/*
@media(min-width:768px) {
    div.polaroid {
        margin-right: 50%;
        margin-left: 50%;
        /* padding-left: 15px;
        padding-right: 15px; */

    }

} */